/* .error-container {
  background: url("../images/BG_error.png");
}
.img {
  background: url("https://blog-manager-test.incom.vn/images/winmart/Robot.png");

  position: relative;
  top: 40%;
  left: 10%;
}

.tree {
  position: absolute;
  height: 210px;
  width: 12px;
  border: 8px solid #ffc784;
  border-radius: 20px;
  left: 100%;
  top: -30%;
}
.text-box {
  position: absolute;
  width: 95vw;
  height: 174px;
  top: -100%;
  left: -20%;
  border-radius: 20px;
  border: 13px solid #ffc784;
}
.text {
  padding: 10px;
  background: #f34141;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: justified;
  color: #fff;
} */
